TALLER
a) Crea un programa que tome una lista de números como entrada y devuelva la suma de todos los números en la lista.

b) Escribe un programa que tome dos listas y devuelva una nueva lista que contenga todos los elementos que son comunes a ambas listas.

c) Crea un programa que tome una lista de cadenas como entrada y devuelva la longitud de la cadena más larga en la lista.

d) Escribe un programa que tome una lista de números como entrada y devuelva una nueva lista que contenga solo los números pares de la lista original.

e) Crea un programa que tome una lista de cadenas como entrada y devuelva una nueva lista que contenga solo las cadenas que comienzan con la letra "a".

f) Escribe un programa que tome un diccionario como entrada y devuelva el valor asociado con una clave dada.

g) Crea un programa que tome una lista de diccionarios como entrada y devuelva una nueva lista que contenga solo los diccionarios que tienen una cierta clave.

h) Escribe un programa que tome un diccionario como entrada y devuelva un nuevo diccionario con las claves y los valores intercambiados.

i) Crea un programa que tome dos diccionarios como entrada y devuelva un nuevo diccionario que contenga solo los pares clave-valor que son comunes a ambos diccionarios.

j) Escribe un programa que tome un diccionario como entrada y devuelva un nuevo diccionario con las claves ordenadas alfabéticamente.

k) Escribe una función que tome dos números como entrada y devuelva su suma.

l) Crea una función que tome una lista de cadenas como entrada y devuelva una nueva lista que contenga solo las cadenas que son más largas que una longitud dada.

m) Escribe una función que tome una cadena como entrada y devuelva True si la cadena es un palíndromo, False en caso contrario.

n) Crea una función que tome una lista de números como entrada y devuelva el promedio de todos los números en la lista.

o) Escribe una función que tome un diccionario como entrada y devuelva una lista de todas las claves en el diccionario.

p) Escribe un programa que tome una lista de números como entrada y devuelva el valor máximo en la lista.

q) Crea un programa que tome una cadena como entrada y devuelva una nueva cadena que contenga solo las vocales en la cadena original.

r) Escribe un programa que tome una lista de números como entrada y devuelva una nueva lista que contenga los valores al cuadrado de cada número en la lista original.

s) Crea un programa que tome una cadena como entrada y devuelva una nueva cadena con los caracteres en orden inverso.

t) Escribe un programa que tome una lista de cadenas como entrada y devuelva una nueva lista que contenga la longitud de cada cadena en la lista original.

PAULA HORMAZA MONTENEGRO-63201104
MARIA MORENO PARDO-63201110
CRISTIAN ANDRES RODRIGUEZ-63162065 **texto en negrita**

A.

In [ ]:
lista=[1,2,3,4,5,6,7,8,9,10]
suma_de_lista=sum(lista)
print(suma_de_lista)

55

B.

In [ ]:
lista = [1,2,3,4,5,8,2,3]
lista2 = [9,5,3,6,4,2,9,1]
lista3 = list(set(lista) & set(lista2))
print(lista3)

[1, 2, 3, 4, 5]

C.

In [ ]:
def  Palabras(items):
     Cadena = (i for i in items if isinstance(i, str))
     Palabra_larga = max(Cadena, key=len)
     return len (Palabra_larga)

print(Palabras(['Econometria', 'Programacion', 'Python']))

12

D.

In [ ]:
def pares(lista):
    pares = []
    for i in lista:
        if i%2 == 0:
           pares.append(i)
    return pares

lista = [6, 15, 34, 9, 16, 7, 28, 21, 66]
print('Los pares son:',pares(lista))

Los pares son: [6, 34, 16, 28, 66]

E.

In [ ]:
palabras=["Perro", "Abanico", "Gato", "Amanecer", "Abeja"]
for palabra in palabras:
  if palabra[0]=="A":
    print(palabra)

Abanico
Amanecer
Abeja

F.

In [ ]:
def buscar_valor(diccionario, clave):
  if clave in diccionario:
    return diccionario[clave]
  else:

    print('Valor no encontrado')
mi_diccionario = {'letras': ['L', 'M', 'N', 'O'], 'numero': [18, 23, 26], 'simbolos': ['$', '%', '?']}
valor = buscar_valor(mi_diccionario, 'letras')
print(valor)

['L', 'M', 'N', 'O']

G.

In [ ]:
def buscar_diccionarios(lista, clave):
    resultado = []
    for diccionario in lista:
      if clave in diccionario:
        resultado.append(diccionario)
    return resultado

lista1 = [{'carnivoro': 'leopardo', 'herbivoro': 'elefante'}, {'fruta': 'fresa', 'verdura': 'zanahoria'}]
diccionarios_variedad = buscar_diccionarios(lista1, 'carnivoro')
print(diccionarios_variedad)

[{'carnivoro': 'leopardo', 'herbivoro': 'elefante'}]

H.

In [ ]:
def intercambiar (diccionario):
  nuevo_diccionario = {}
  for clave, valor in diccionario.items ():
    nuevo_diccionario[valor] = clave
  return nuevo_diccionario 

mi_diccionario = {'fruta':'papaya', 'verdura':'tomate', 'cereales':'frijol'}
diccionario_invertido = intercambiar (mi_diccionario) 
print (diccionario_invertido)

{'papaya': 'fruta', 'tomate': 'verdura', 'frijol': 'cereales'}

I.

In [ ]:
def los_pares_comunes(diccionario1, diccionario2):
    pares_comunes = {}
    for clave, valor in diccionario1.items():
        if clave in diccionario2 and diccionario2[clave] == valor:
            pares_comunes[clave] = valor
    return pares_comunes

mi_diccionario1 = {'nombre': 'paula', 'edad': 23, 'profesion': 'financista'}
mi_diccionario2 = {'nombre': 'maria', 'ciudad': 'Bogota', 'profesion': 'financista'}
pares_comunes = los_pares_comunes(mi_diccionario1, mi_diccionario2)
print(pares_comunes)

{'profesion': 'financista'}

J.

In [ ]:
conjunto1={'simbolos': ['?', '$', '%'],
           'numero': [7, 2, 4],
           'letras': ['A', 'N', 'D']}
keys=conjunto1.keys()
print(keys)
sorted_keys=sorted(keys)
print(sorted_keys)

dict_keys(['simbolos', 'numero', 'letras'])
['letras', 'numero', 'simbolos']

K.

In [ ]:
def sumar_numeros(a, b, c):
  return a + b + c
num1 = 8
num2 = 3
num3 = 23
print(sumar_numeros(num1, num2, num3))

34

L.

In [ ]:
def filtrar_cadenas(lista_cadenas, longitud_minima):
    nuevas_cadenas = []
    for cadena in lista_cadenas:
        if len(cadena) > longitud_minima:
            nuevas_cadenas.append(cadena)
    return nuevas_cadenas

cadenas = ['sol', 'lluvia', 'luna llena', 'luna nueva']
longitud_minima = 7
resultado = filtrar_cadenas(cadenas, longitud_minima)
print(resultado)

['luna llena', 'luna nueva']

M.

In [31]:
def palindromo(cadena):
    cadena = cadena.lower().replace(" ", "")
    return cadena == cadena[::-1]
cadena1 = "mejor nadador profesional"
cadena2 = "Somos o no somos"
print(palindromo(cadena1)) 
print(palindromo(cadena2))

False
True

N.

In [16]:
def promedio(lista):
    if not lista:
        return print('No contiene valores')
    suma = sum(lista)
    promedio = suma / len(lista)
    return promedio


lista1 = [12, 26, 6, 48, 19]
print(promedio(lista1))

22.2

O.

In [17]:
def obtener_claves(diccionario):
    return list(diccionario.keys())

mi_diccionario = {'letra': 'A', 'edad': 26, 'simbolo': '%'}
print(obtener_claves(mi_diccionario))

"""p. Escribe un programa que tome una lista de números como entrada y devuelva el valor máximo en la lista."""

def obtener_valor_maximo(lista):
    return max(lista)

mi_lista = [4, 9, 17, 25, 31]
print(obtener_valor_maximo(mi_lista))

['letra', 'edad', 'simbolo']
31

P.

In [24]:
def obtener_valor_maximo(lista):
    return max(lista)

mi_lista = [5, 15, 25, 34, 78]
print(obtener_valor_maximo(mi_lista))

78

Q.

In [18]:
def obtener_vocales(cadena):
    vocales = "aeiouAEIOU"
    vocales_encontradas = []
    for caracter in cadena:
        if caracter in vocales:
            vocales_encontradas += caracter
    return vocales_encontradas

mi_cadena = "la vida es CUESTA ARRIBA pero la vista es Genial"
print(obtener_vocales(mi_cadena))

['a', 'i', 'a', 'e', 'U', 'E', 'A', 'A', 'I', 'A', 'e', 'o', 'a', 'i', 'a', 'e', 'e', 'i', 'a']

R.

In [19]:
lista4 = [9, 18, 23, 26, 30]
def obtener_cuadrados(lista9):
  lista_cuadrados = []
  for numero in lista4:
    lista_cuadrados.append(numero ** 2)
  return lista_cuadrados
print(obtener_cuadrados(lista4))

[81, 324, 529, 676, 900]

S.

In [21]:
def invertir_cadena(cadena):
    return cadena[::-1]

cadena1 = "La vida te da mil vueltas"
print(invertir_cadena(cadena1))

satleuv lim ad et adiv aL

T.

In [23]:
lista5 = ['El', 'camino', 'al', 'exito', 'es', 'la', 'actitud']
def longitud_cadenas(lista_cadenas):
  longitudes = []
  for cadena in lista_cadenas:
    longitudes.append(len(cadena))
    return longitudes

longitudes = longitud_cadenas(lista5)
print(longitudes)

[2]